<%- include('../../partials/head')  %>
<%- include('../../partials/header') %>
<div class="container">

    <h2 class="text-center">que onda maestro!!</h2>
    <img src="/img/users/<%= user.avatar %> " alt="" class="rounded-circle" width="100" height="100">
    <p><%= user.name %> </p>
    <p><%= user.lastName %> </p>
    <p><%= user.email %> </p>
    <p><%= user.city %> </p>
    <p><%= user.address %> </p>
    <p><%= user.number %> </p>
    <p><%= user.postalCode %> </p>


    
    <a href="/user/user-profile-edit/:id" class="text-center">editar perfil</a>
</div>

<%- include('../../partials/footer') %>