<%- include('../partials/head') %> 
<section class="container-md">
    <form action="/create-product" enctype="multipart/form-data" method="POST" class="row g-4">
        <div class="col-10">
            <label for="name" class="form-label">Nombre del producto</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-5">
            <label for="price" class="form-label">Precio</label>
            <input type="number" name="price" id="price" class="form-control">
        </div>
        <div class="col-5">
            <label for="discount" class="form-label">Descuento</label>
            <input type="number" name="discount" id="discount" class="form-control">
        </div>
        <div class="col-3">
            <select name="manufactorer" id="manufactorer" class="form-select">
                <option value="" disabled selected>Fabricante</option>
                <% for(manufactorer of manufactorerDB) { %>
                    <option value="<%= manufactorer.id %>"><%= manufactorer.name %></option> <% } %> 
            </select>
        </div>
        <div class="col-3">
            <select name="brand" id="brand" class="form-select">
                <option value="" disabled selected>Marca</option>
                <% for(brand of brandDB) { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option> <% } %> 
            </select>
        </div>
        <div class="col-3">
            <select name="tag" id="tag" class="form-select">
                <option value="" disabled selected>Categoria</option>
                <% for(tag of tagDB) { %>
                    <option value="<%= tag.id %>"><%= tag.name %></option> <% } %> 
            </select>
        </div>
        <div class="col-10">
            <label for="description" class="form-label">Descripción del producto</label>
            <div class="descriptionList">
                <div class="descriptionInput mb-2">
                    <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea> 
                </div>
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-dark" id="addDescriptionBtn">Agregar parrafo</button>
        </div>
        <div class="col-10">
            <label for="details" class="form-label">Detalles del producto</label>
            <input type="text" name="details" id="details" class="form-control">
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-dark" id="addDetailBtn">Agregar detalle</button>
        </div>
        <div class="col-10">
            <label for="image">
                <input type="file" name="image" id="image" accept="image/*" class="form-control">
            </label>
        </div>

        <div class="col-10 form-btn d-flex justify-content-around mt-5">
            <button type="submit" class="btn btn-success">Crear producto</button>
            <button type="reset" class="btn btn-danger">Borrar formulario</button>
        </div>
    </form>
</section>




<script src="js/productsForms.js"></script>
